body {
    width: 80%;
    margin-left: 10%;
}

h1{
    font-size: 36pt;
    font-family:sans-serif;
}

h2{
    font-size: 22pt;
    font-family: sans-serif;
}

h3{
    font-size: 20;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

img.catimg {
    width: 100px;
    height: 100px;
}

img.videoimg {
    width: 250px;
    height: 160px;
}

div#videos{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    
}

div.cat_head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

div.video_cat{
    display: block;
    height: 40vh;
    width: 40vh;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5%;
}