{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>WebTheater</title>
</head>
<body>
    <h1>WebTheater</h1>
    <h2>Categorias:</h2>
    <div id="categoria">
        {% for categoria in categorias %}
            <div class="cat_head">
                <img src="{% static 'img/' %}{{ categoria.get_img }}" alt="" class="catimg">
                <h3>{{ categoria.get_nome }}</h3>
            </div>
            <div id="videos">
                {% for video in categoria.get_videos %}
                <div class="video_cat">
                    <a href="{% url 'content' video.get_id %}"><h3>{{ video.get_titulo }}</h3></a>
                    <img src="{%static 'img/'%}{{ video.get_urli }}" alt="" class="videoimg">
                    <p>{{ video.get_desc }}</p><p>{{ video.get_likes }} likes</p>
                </div>
                {% empty %}
                    <p> Sem videos :( </p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>